---
layout: default
title: index
---

{% for post in site.posts limit:3 %}
{% include fullpost.html %}
{% endfor %}

<h2>Welcome to southindies.in</h2>
This site will contains recipes of traditional home-made dishes. Stay tuned.

<h2>Motivation</h2>
<ul>
<li><b>Preserve</b>: To document everyday recipes, the fruits of which we've enjoyed since we have been kids. Some of these dishes are very local to certain regions - putting it online will help preserve this knowledge</li>
<li><b>Beginner-friendly</b>: To move away from arcane terms in describing how to prepare these dishes. The recipes ought to be really simple for beginners to follow. They should also be easily and accurately replicable.</li>
<li><b>Multiple cuisines</b>: <i>Southindies</i> may be a misnomer as the site can surely accommodate cuisines from different geographies. The motivational roots for setting this webpage however is attributed to documenting south Indian preparations.</li>
<li><b>Redundancy?</b>: There may be several other sites which provide similar information. The authors of this blog believe that there are nuances in taste and texture across house-holds. This webpage is to preserve and document what has been <i>engineered</i> in the authors' households.</li>
</ul>

<b>Contributors</b>
<ul>
<li>Padmaja Srikant <a href=""> [email]</a></li>
<li>Shashank Srikant <a href="https://shashank-srikant.github.io" target="_blank"> [link]</a></li>
</ul>

<br/>
For details regarding the site, contact Shashank Srikant <a href="https://shashank-srikant.github.io" target="_blank"> [link]</a>.



