---
layout: default
title: index
---

{% for post in site.posts limit:3 %}
{% include fullpost.html %}
{% endfor %}

<h2>Welcome to southindies.in</h2>
This site will be populated with recipes of traditional home-made dishes. Stay tuned.
<br/><br/>

<h2>Motivation</h2>
<ul>
<li><b>Preserve</b>: To document everyday recipes, the fruits of which we've enjoyed since we have been kids. Some of these dishes are very local to certain regions - putting it online will help preserve the knowledge</li>
<li><b>Be beginner-friendly</b>: To move away from jargon and fancy terms and make this really simple for beginners.</li>
<li><b>Multiple cuisines</b>: Southindies may be a misnomer as the site can surely accommodate cuisines from different geographies. But the motivational roots can be traced to southi India delicacies.</li>
<li><b>Redundancy?</b>: There may be several other sites which probably provide similar information. But the authors of this blog believe that there are nuances in taste and texture across house-holds. This is to preserve and document what has been _engineered_ in the authors' households.</li>
</ul>

<b>Contributors</b>
<ul>
<li>Padmaja Srikant</li>
<li>Shashank Srikant<a href="https://shashank-srikant.github.io" target="_blank">[link]<a/></li>
</ul>

<br/>
For details regarding the site, contact Shashank Srikant <a href="https://shashank-srikant.github.io" target="_blank">[link]<a/>.



