---
layout: default
title: index
---

{% for post in site.posts limit:3 %}
{% include fullpost.html %}
{% endfor %}

<h2>
<a href="/recipes.html">Recipes</a>
</h2>

Welcome to southindies.in<br/>
This site will be populated with recipes of traditional home-made dishes. Stay tuned.

<br/><br/>

<b>Contributors</b>
<ul>
<li>Padmaja Srikant</li>
<li><a href="https://shashank-srikant.github.io" target="_blank">Shashank Srikant<a/></li>
</ul>

<br/><br/>
For details regarding the site, contact <a href="https://shashank-srikant.github.io" target="_blank">Shashank Srikant<a/>.



